<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<div class="container">
	<div class="row" style="height: 5em">
		<div class="col">
			<div id="flashMessage"></div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<input type="button" class="btn btn-primary" value="Next" onclick="callAction('next')">
		</div>
	</div>
	<div class="row">
		<div class="col" id="content">
			<div class="text-center p-5">
				Loading...
			</div>
		</div>
	</div>
</div>

<script>
	var lastState = '';

	$(document).ready(function () {
		setInterval(function () {
			$.post('{currentUrl}', {
				debugWindowAjax: 1
			}).done(function (data) {
				if (data !== lastState) {
					$('#content').html(data);
					lastState = data;
				}
			});
		}, 250);
	});

	function callAction(actionName) {
		$.post('{currentUrl}', {
			debugWindowAjax: 1,
			debugAction: actionName
		}).done(function (data) {
			$('#flashMessage').show().html(data);

			setTimeout(function () {
				$('#flashMessage').hide(200);
			}, 1500);
		});
	}
</script>

<style>
	#content {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	#flashMessage {
		display: none;
		background: #ffc039;
		border: 1px solid #ff4a1c;
		padding: 1em 2em;
	}

	.code {
		border: 1px solid #aaa;
		margin: .5em 0;
		font-weight: 100;
		font-family: monospace;
		font-size: 12pt;
	}

	.code-line {
		padding: 0 .5em;
	}

	.highlight {
		background: #eee;
	}
</style>